:root {
  --target-border-size: 10px;
}

body {
  background-color: blue;
}

.outer-box {
  /* margin: auto; */
  background-color: rgb(13, 0, 255);
  /* border: solid; */
  margin-top: 5vh;
  /* width: 75%; */
  width: 800px;
  margin: auto;
}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

.top-one,
.top-tow,
.top-three,
.top-four {
}

/* .box {
  position: relative; /* Required to position the button relative to this box */

.target-selection-holder {
  background-color: aqua;
  padding: 0.1vh 1vw 0 1vw;
  position: relative;
  /* border: 80vh, solid; */
}

/* #calc-button {
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
  position: absolute; 
  bottom: 10px; 
  left: 10px; 
  background-color: silver; 
  border: none; 
  cursor: pointer; 
} */

.digit-one,
.digit-two,
.digit-three {
  /* TODO: update width with media query */
  max-width: 90px;
  font-family: "Gill Sans", "Arial", sans-serif;
  height: 12vh;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 8vw;
  /* text-align: center;
  vertical-align: middle; */
  border-top: var(--target-border-size) solid gray;
  border-bottom: var(--target-border-size) solid gray;
  background-color: rgb(63, 63, 223);
}

.digit-one {
  border-left: var(--target-border-size) solid gray;
}

.digit-three {
  border-right: var(--target-border-size) solid gray;
}

.target {
  display: flex;
  flex-direction: row; /* default value */
  justify-content: center;
  margin-bottom: 0.5vh;
}

.num-cards-container {
  display: flex;
  justify-content: center;
  gap: 1vw;
  padding-bottom: 2vh;
  /* so text doesn't overgrow */
  /* max-width: 100%;
  font-size: clamp(8px, 2vw, 8px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.num-card {
  font-family: "Gill Sans", "Arial", sans-serif;
  height: 12vh;
  width: 12vw;
  border-top: var(--target-border-size) solid black;
  /* border-bottom: var(--target-border-size) solid gray; */
  background-color: rgb(63, 63, 223);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 8vw;
}

.board {
  /* display: flex; */
  width: calc(100% - 2vw);
  margin: auto;
  justify-content: center;
  background-color: azure;
  margin-top: 2vh;
  height: 50vh;
}
